body {
  background-color: #dcedc1;
  font-family: arial;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 250px;
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}



/**************************TAG SELECTION**********************/



.bacon1:hover {
  color: black;
}

img:hover {
  background-color: gold;
}


/**************************SELECTOR SELECTION**********************/

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

/**************************ID SELECTION**********************/
